// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  --main-color: coral;
}

.navbar {
  background-color: var(--main-color);

  &__left {
    font-weight: bold;
  }

  &__right {
    text-align: right;
  }
}

.profile-card {
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}


.profile-card-top {
    padding: 10px;
}

.profile-card-left {
  display: flex;
  justify-content: center;
  align-items: center;

  &__photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.profile-card-right {
  text-align: center;

  &__name {
    font-weight: 600;
    color: var(--main-color);
    @include sm {
      font-size: 2rem;
    }
    @include md {
      font-size: 3rem;
    }
    @include lg {
      font-size: 4rem;
    }
  }

  &__title {
    color: #505160;
    @include sm {
      font-size: 1.5rem;
    }
    @include md {
      font-size: 2rem;
    }
    @include lg {
      font-size: 2rem;
    }
  }
}

.profile-card-bottom {
  max-width: 80%;
  line-height: 1.5;
  color: black;
  margin: 20px auto;
}


.about-me {
  font-weight: 600;
  color: var(--main-color);
  @include sm {
    font-size: 1.5rem;
  }
  @include md {
    font-size: 2rem;
  }
  @include lg {
    font-size: 2rem;
  }
}

.profile-card-intro {
  color: #505160;
  @include sm {
    font-size: 1rem;
  }
  @include md {
    font-size: 1.5rem;
  }
  @include lg {
    font-size: 1.5rem;
  }
}

.line {
  border-top: 16px dotted rgb(235, 235, 235);
  margin: 20px auto;
  width: 20%;
}

.section_header {
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 20px;
  @include sm {
    font-size: 1.5rem;
  }
  @include md {
    font-size: 2rem;
  }
  @include lg {
    font-size: 2rem;
  }
}

.resume {
  margin: 50px 20px;
}

.resume-item {
  box-shadow: 1px 1px 0px 0px var(--main-color);
  padding: 20px;
  margin-bottom: 20px;
  
  &__title {
    font-weight: 500;
    color: #505160;
    @include sm {
      font-size: 1.5rem;
    }
    @include md {
      font-size: 1.5rem;
    }
    @include lg {
      font-size: 1.5rem;
    }
  }
  &__details {
    font-size: 1rem;
    color: grey;
  }
}

.services {
  margin: 50px auto 100px;
  text-align: center;
}

.service-item {
  &__photo {
    margin: 20px;
    max-width: 35%;
    height: auto;
    &:hover {
      transform: scale(1.2);
    }
  }

  &__title {
    font-weight: 500;
    color: #505160;
    @include sm {
      font-size: 1.5rem;
    }
    @include md {
      font-size: 2rem;
    }
    @include lg {
      font-size: 2rem;
    }
  }

  &__details {
    font-size: 1rem;
    color: grey;
  }
}


.footer {
  text-align: center;
  background-color: var(--main-color);
  padding: 20px;
  
  &__copyright {
    font-size: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
  }
}

.social-links {
  margin: 20px auto;
  
  &__item {
    font-size: 2rem;
    margin: 8px;
    color: white;
  }
}

