body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  --main-color: coral;
}

.navbar {
  background-color: var(--main-color);
}
.navbar__left {
  font-weight: bold;
}
.navbar__right {
  text-align: right;
}

.profile-card {
  margin: 40px auto;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
}

.profile-card-top {
  padding: 10px;
}

.profile-card-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card-left__photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.profile-card-right {
  text-align: center;
}
.profile-card-right__name {
  font-weight: 600;
  color: var(--main-color);
}
@media (min-width: 576px) {
  .profile-card-right__name {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .profile-card-right__name {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .profile-card-right__name {
    font-size: 4rem;
  }
}
.profile-card-right__title {
  color: #505160;
}
@media (min-width: 576px) {
  .profile-card-right__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .profile-card-right__title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .profile-card-right__title {
    font-size: 2rem;
  }
}

.profile-card-bottom {
  max-width: 80%;
  line-height: 1.5;
  color: black;
  margin: 20px auto;
}

.about-me {
  font-weight: 600;
  color: var(--main-color);
}
@media (min-width: 576px) {
  .about-me {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .about-me {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .about-me {
    font-size: 2rem;
  }
}

.profile-card-intro {
  color: #505160;
}
@media (min-width: 576px) {
  .profile-card-intro {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .profile-card-intro {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .profile-card-intro {
    font-size: 1.5rem;
  }
}

.line {
  border-top: 16px dotted #ebebeb;
  margin: 20px auto;
  width: 20%;
}

.section_header {
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .section_header {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .section_header {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .section_header {
    font-size: 2rem;
  }
}

.resume {
  margin: 50px 20px;
}

.resume-item {
  box-shadow: 1px 1px 0px 0px var(--main-color);
  padding: 20px;
  margin-bottom: 20px;
}
.resume-item__title {
  font-weight: 500;
  color: #505160;
}
@media (min-width: 576px) {
  .resume-item__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .resume-item__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .resume-item__title {
    font-size: 1.5rem;
  }
}
.resume-item__details {
  font-size: 1rem;
  color: grey;
}

.services {
  margin: 50px auto 100px;
  text-align: center;
}

.service-item__photo {
  margin: 20px;
  max-width: 35%;
  height: auto;
}
.service-item__photo:hover {
  transform: scale(1.2);
}
.service-item__title {
  font-weight: 500;
  color: #505160;
}
@media (min-width: 576px) {
  .service-item__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .service-item__title {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .service-item__title {
    font-size: 2rem;
  }
}
.service-item__details {
  font-size: 1rem;
  color: grey;
}

.footer {
  text-align: center;
  background-color: var(--main-color);
  padding: 20px;
}
.footer__copyright {
  font-size: 1rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.social-links {
  margin: 20px auto;
}
.social-links__item {
  font-size: 2rem;
  margin: 8px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
